$spacer:   1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;

// Position Utilities
// -------------------------
.pos-r { position: relative !important; }
.pos-a { position: absolute !important; }
.pos-f { position: fixed !important; }


// Constrain utilities
// -------------------------
.w-sm   { width: 25% !important; }
.w-md   { width: 50% !important; }
.w-lg   { width: 75% !important; }
.w-full { width: 100% !important; }


// Spacer utilities
// -------------------------

// Margin

.ma-0 { margin:        0 !important; }
.mt-0 { margin-top:    0 !important; }
.mr-0 { margin-right:  0 !important; }
.mb-0 { margin-bottom: 0 !important; }
.ml-0 { margin-left:   0 !important; }
.mx-0 { margin-right:  0 !important; margin-left:   0 !important; }
.my-0 { margin-top:    0 !important; margin-bottom: 0 !important; }

.ma { margin:        $spacer !important; }
.mt { margin-top:    $spacer-y !important; }
.mr { margin-right:  $spacer-x !important; }
.mb { margin-bottom: $spacer-y !important; }
.ml { margin-left:   $spacer-x !important; }
.mx { margin-right:  $spacer-x !important; margin-left: $spacer-x !important; }
.my { margin-top:    $spacer-y !important; margin-bottom: $spacer-y !important; }
.mx-auto { margin-right: auto !important; margin-left: auto !important; }

.ma-125 { margin:        ($spacer * 1.25) !important; }
.mt-125 { margin-top:    ($spacer-y * 1.25) !important; }
.mr-125 { margin-right:  ($spacer-y * 1.2) !important; }
.mb-125 { margin-bottom: ($spacer-y * 1.25) !important; }
.ml-125 { margin-left:   ($spacer-y * 1.25) !important; }
.mx-125 { margin-right:  ($spacer-x * 1.25) !important; margin-left:   ($spacer-x * 1.25) !important; }
.my-125 { margin-top:    ($spacer-y * 1.25) !important; margin-bottom: ($spacer-y * 1.25) !important; }

.ma-15 { margin:        ($spacer * 1.5) !important; }
.mt-15 { margin-top:    ($spacer-y * 1.5) !important; }
.mr-15 { margin-right:  ($spacer-y * 1.5) !important; }
.mb-15 { margin-bottom: ($spacer-y * 1.5) !important; }
.ml-15 { margin-left:   ($spacer-y * 1.5) !important; }
.mx-15 { margin-right:  ($spacer-x * 1.5) !important; margin-left:   ($spacer-x * 1.5) !important; }
.my-15 { margin-top:    ($spacer-y * 1.5) !important; margin-bottom: ($spacer-y * 1.5) !important; }

.ma-2 { margin:        ($spacer * 2) !important; }
.mt-2 { margin-top:    ($spacer-y * 2) !important; }
.mr-2 { margin-right:  ($spacer-y * 2) !important; }
.mb-2 { margin-bottom: ($spacer-y * 2) !important; }
.ml-2 { margin-left:   ($spacer-y * 2) !important; }
.mx-2 { margin-right:  ($spacer-x * 2) !important; margin-left:   ($spacer-x * 2) !important; }
.m-y-2 { margin-top:    ($spacer-y * 2) !important; margin-bottom: ($spacer-y * 2) !important; }

.ma-25 { margin:        ($spacer * 2.5) !important; }
.mt-25 { margin-top:    ($spacer-y * 2.5) !important; }
.mr-25 { margin-right:  ($spacer-y * 2.5) !important; }
.mb-25 { margin-bottom: ($spacer-y * 2.5) !important; }
.ml-25 { margin-left:   ($spacer-y * 2.5) !important; }
.mx-25 { margin-right:  ($spacer-x * 2.5) !important; margin-left:   ($spacer-x * 2.5) !important; }
.my-25 { margin-top:    ($spacer-y * 2.5) !important; margin-bottom: ($spacer-y * 2.5) !important; }

.ma-3 { margin:        ($spacer * 3) !important; }
.mt-3 { margin-top:    ($spacer-y * 3) !important; }
.mr-3 { margin-right:  ($spacer-y * 3) !important; }
.mb-3 { margin-bottom: ($spacer-y * 3) !important; }
.ml-3 { margin-left:   ($spacer-y * 3) !important; }
.mx-3 { margin-right:  ($spacer-x * 3) !important; margin-left:   ($spacer-x * 3) !important; }
.my-3 { margin-top:    ($spacer-y * 3) !important; margin-bottom: ($spacer-y * 3) !important; }

.mb-025 { margin-bottom: ($spacer-y * 0.25) !important; }
.mb-05 { margin-bottom: ($spacer-y * 0.5) !important; }
.mb-075 { margin-bottom: ($spacer-y * 0.75) !important; }
.mb-125 { margin-bottom: ($spacer-y * 1.25) !important; }
.mb-15 { margin-bottom: ($spacer-y * 1.5) !important; }
.mb-175 { margin-bottom: ($spacer-y * 2.75) !important; }
.mb-225 { margin-bottom: ($spacer-y * 2.25) !important; }
.mb-25 { margin-bottom: ($spacer-y * 2.5) !important; }
.mb-275 { margin-bottom: ($spacer-y * 2.75) !important; }
.mb-4 { margin-bottom: ($spacer-y * 4) !important; }
.mb-5 { margin-bottom: ($spacer-y * 5) !important; }
.mb-6 { margin-bottom: ($spacer-y * 6) !important; }

.mt-025 { margin-top: ($spacer-y * 0.25) !important; }
.mt-05 { margin-top: ($spacer-y * 0.5) !important; }
.mt-075 { margin-top: ($spacer-y * 0.75) !important; }
.mt-125 { margin-top: ($spacer-y * 1.25) !important; }
.mt-15 { margin-top: ($spacer-y * 1.5) !important; }
.mt-175 { margin-top: ($spacer-y * 1.75) !important; }
.mt-225 { margin-top: ($spacer-y * 2.25) !important; }
.mt-25 { margin-top: ($spacer-y * 2.5) !important; }
.mt-275 { margin-top: ($spacer-y * 2.75) !important; }
.mt-4 { margin-top: ($spacer-y * 4) !important; }
.mt-5 { margin-top: ($spacer-y * 5) !important; }
.mt-6 { margin-top: ($spacer-y * 6) !important; }

.mr-025 { margin-right: ($spacer-y * 0.25) !important; }
.mr-05 { margin-right: ($spacer-y * 0.5) !important; }
.mr-075 { margin-right: ($spacer-y * 0.75) !important; }
.mr-175 { margin-right: ($spacer-y * 1.75) !important; }

.ml-025 { margin-left: ($spacer-y * 0.25) !important; }
.ml-05 { margin-left: ($spacer-y * 0.5) !important; }
.ml-075 { margin-left: ($spacer-y * 0.75) !important; }
.ml-175 { margin-left: ($spacer-y * 1.75) !important; }

// Padding

.pa-0 { padding:        0 !important; }
.pt-0 { padding-top:    0 !important; }
.pr-0 { padding-right:  0 !important; }
.pb-0 { padding-bottom: 0 !important; }
.pl-0 { padding-left:   0 !important; }
.px-0 { padding-left:   0 !important; padding-right: 0 !important; }
.py-0 { padding-top:    0 !important; padding-bottom: 0 !important; }

.pa { padding:        $spacer !important; }
.pt { padding-top:    $spacer-y !important; }
.pr { padding-right:  $spacer-x !important; }
.pb { padding-bottom: $spacer-y !important; }
.pl { padding-left:   $spacer-x !important; }
.px { padding-right:  $spacer-x !important; padding-left:   $spacer-x !important; }
.py { padding-top:    $spacer-y !important; padding-bottom: $spacer-y !important; }

.pa-125 { padding:        ($spacer * 1.25) !important; }
.pt-125 { padding-top:    ($spacer-y * 1.25) !important; }
.pr-125 { padding-right:  ($spacer-y * 1.25) !important; }
.pb-125 { padding-bottom: ($spacer-y * 1.25) !important; }
.pl-125 { padding-left:   ($spacer-y * 1.25) !important; }
.px-125 { padding-right:  ($spacer-x * 1.25) !important; padding-left:   ($spacer-x * 1.25) !important; }
.py-125 { padding-top:    ($spacer-y * 1.25) !important; padding-bottom: ($spacer-y * 1.25) !important; }

.pa-15 { padding:        ($spacer * 1.5) !important; }
.pt-15 { padding-top:    ($spacer-y * 1.5) !important; }
.pr-15 { padding-right:  ($spacer-y * 1.5) !important; }
.pb-15 { padding-bottom: ($spacer-y * 1.5) !important; }
.pl-15 { padding-left:   ($spacer-y * 1.5) !important; }
.px-15 { padding-right:  ($spacer-x * 1.5) !important; padding-left:   ($spacer-x * 1.5) !important; }
.py-15 { padding-top:    ($spacer-y * 1.5) !important; padding-bottom: ($spacer-y * 1.5) !important; }

.pa-2 { padding:        ($spacer * 2) !important; }
.pt-2 { padding-top:    ($spacer-y * 2) !important; }
.pr-2 { padding-right:  ($spacer-y * 2) !important; }
.pb-2 { padding-bottom: ($spacer-y * 2) !important; }
.pl-2 { padding-left:   ($spacer-y * 2) !important; }
.px-2 { padding-right:  ($spacer-x * 2) !important; padding-left:   ($spacer-x * 2) !important; }
.py-2 { padding-top:    ($spacer-y * 2) !important; padding-bottom: ($spacer-y * 2) !important; }

.pa-25 { padding:        ($spacer * 2.5) !important; }
.pt-25 { padding-top:    ($spacer-y * 2.5) !important; }
.pr-25 { padding-right:  ($spacer-y * 2.5) !important; }
.pb-25 { padding-bottom: ($spacer-y * 2.5) !important; }
.pl-25 { padding-left:   ($spacer-y * 2.5) !important; }
.px-25 { padding-right:  ($spacer-x * 2.5) !important; padding-left:   ($spacer-x * 2.5) !important; }
.py-25 { padding-top:    ($spacer-y * 2.5) !important; padding-bottom: ($spacer-y * 2.5) !important; }

.pa-3 { padding:        ($spacer * 3) !important; }
.pt-3 { padding-top:    ($spacer-y * 3) !important; }
.pr-3 { padding-right:  ($spacer-y * 3) !important; }
.pb-3 { padding-bottom: ($spacer-y * 3) !important; }
.pl-3 { padding-left:   ($spacer-y * 3) !important; }
.px-3 { padding-right:  ($spacer-x * 3) !important; padding-left:   ($spacer-x * 3) !important; }
.py-3 { padding-top:    ($spacer-y * 3) !important; padding-bottom: ($spacer-y * 3) !important; }

.pb-025 { padding-bottom: ($spacer-y * 0.25) !important; }
.pb-05 { padding-bottom: ($spacer-y * 0.5) !important; }
.pb-075 { padding-bottom: ($spacer-y * 0.75) !important; }
.pb-4 { padding-bottom: ($spacer-y * 4) !important; }
.pb-5 { padding-bottom: ($spacer-y * 5) !important; }
.pb-6 { padding-bottom: ($spacer-y * 6) !important; }

.pt-025 { padding-top: ($spacer-y * 0.25) !important; }
.pt-05 { padding-top: ($spacer-y * 0.5) !important; }
.pt-075 { padding-top: ($spacer-y * 0.75) !important; }
.pt-4 { padding-top: ($spacer-y * 4) !important; }
.pt-5 { padding-top: ($spacer-y * 5) !important; }
.pt-6 { padding-top: ($spacer-y * 6) !important; }

.pl-025 { padding-left: ($spacer-y * 0.25) !important; }
.pl-05 { padding-left: ($spacer-y * 0.5) !important; }
.pl-075 { padding-left: ($spacer-y * 0.75) !important; }
.pl-175 { padding-left: ($spacer-y * 1.75) !important; }
.pl-2 { padding-left: ($spacer-y * 2) !important; }
.pl-3 { padding-left: ($spacer-y * 3) !important; }
.pl-4 { padding-left: ($spacer-y * 4) !important; }
.pl-5 { padding-left: ($spacer-y * 5) !important; }
.pl-6 { padding-left: ($spacer-y * 6) !important; }

.pr-025 { padding-right: ($spacer-y * 0.25) !important; }
.pr-05 { padding-right: ($spacer-y * 0.5) !important; }
.pr-075 { padding-right: ($spacer-y * 0.75) !important; }
.pr-175 { padding-left: ($spacer-y * 1.75) !important; }
.pr-2 { padding-right: ($spacer-y * 2) !important; }
.pr-3 { padding-right: ($spacer-y * 3) !important; }
.pr-4 { padding-right: ($spacer-y * 4) !important; }
.pr-5 { padding-right: ($spacer-y * 5) !important; }
.pr-6 { padding-right: ($spacer-y * 6) !important; }

.phl { margin-left: -($spacer-y) !important; }
