.product-main-photo-container {
  width: 295px; height: auto;
}
.product-main-photo-container > img {
  min-width: 100%;
  width: 100%;
}
.tabular-form-heading {
  display: none;
}

.product-is-free .not-free-product-details {
  display: none;
  background-color: red;
}
