.report-fixed-header {
  height: 55px;
  line-height: 1.42857;
  border-bottom: 4px solid #fff;
  background: #FAFAFC;
}

.report-total {
  text-align: left;
  padding: 2rem 1rem;
}

.report-summary {
  text-align: right;
  padding: 2rem 1rem;
}