.pos-r {
  position: relative !important; }

.pos-a {
  position: absolute !important; }

.pos-f {
  position: fixed !important; }

.w-sm {
  width: 25% !important; }

.w-md {
  width: 50% !important; }

.w-lg {
  width: 75% !important; }

.w-full {
  width: 100% !important; }

.ma-0 {
  margin: 0 !important; }

.mt-0 {
  margin-top: 0 !important; }

.mr-0 {
  margin-right: 0 !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.ml-0 {
  margin-left: 0 !important; }

.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.ma {
  margin: 1rem !important; }

.mt {
  margin-top: 1rem !important; }

.mr {
  margin-right: 1rem !important; }

.mb {
  margin-bottom: 1rem !important; }

.ml {
  margin-left: 1rem !important; }

.mx {
  margin-right: 1rem !important;
  margin-left: 1rem !important; }

.my {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important; }

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important; }

.ma-125 {
  margin: 1.25rem !important; }

.mt-125 {
  margin-top: 1.25rem !important; }

.mr-125 {
  margin-right: 1.2rem !important; }

.mb-125 {
  margin-bottom: 1.25rem !important; }

.ml-125 {
  margin-left: 1.25rem !important; }

.mx-125 {
  margin-right: 1.25rem !important;
  margin-left: 1.25rem !important; }

.my-125 {
  margin-top: 1.25rem !important;
  margin-bottom: 1.25rem !important; }

.ma-15 {
  margin: 1.5rem !important; }

.mt-15 {
  margin-top: 1.5rem !important; }

.mr-15 {
  margin-right: 1.5rem !important; }

.mb-15 {
  margin-bottom: 1.5rem !important; }

.ml-15 {
  margin-left: 1.5rem !important; }

.mx-15 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important; }

.my-15 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important; }

.ma-2 {
  margin: 2rem !important; }

.mt-2 {
  margin-top: 2rem !important; }

.mr-2 {
  margin-right: 2rem !important; }

.mb-2 {
  margin-bottom: 2rem !important; }

.ml-2 {
  margin-left: 2rem !important; }

.mx-2 {
  margin-right: 2rem !important;
  margin-left: 2rem !important; }

.m-y-2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important; }

.ma-25 {
  margin: 2.5rem !important; }

.mt-25 {
  margin-top: 2.5rem !important; }

.mr-25 {
  margin-right: 2.5rem !important; }

.mb-25 {
  margin-bottom: 2.5rem !important; }

.ml-25 {
  margin-left: 2.5rem !important; }

.mx-25 {
  margin-right: 2.5rem !important;
  margin-left: 2.5rem !important; }

.my-25 {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important; }

.ma-3 {
  margin: 3rem !important; }

.mt-3 {
  margin-top: 3rem !important; }

.mr-3 {
  margin-right: 3rem !important; }

.mb-3 {
  margin-bottom: 3rem !important; }

.ml-3 {
  margin-left: 3rem !important; }

.mx-3 {
  margin-right: 3rem !important;
  margin-left: 3rem !important; }

.my-3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important; }

.mb-025 {
  margin-bottom: 0.25rem !important; }

.mb-05 {
  margin-bottom: 0.5rem !important; }

.mb-075 {
  margin-bottom: 0.75rem !important; }

.mb-125 {
  margin-bottom: 1.25rem !important; }

.mb-15 {
  margin-bottom: 1.5rem !important; }

.mb-175 {
  margin-bottom: 2.75rem !important; }

.mb-225 {
  margin-bottom: 2.25rem !important; }

.mb-25 {
  margin-bottom: 2.5rem !important; }

.mb-275 {
  margin-bottom: 2.75rem !important; }

.mb-4 {
  margin-bottom: 4rem !important; }

.mb-5 {
  margin-bottom: 5rem !important; }

.mb-6 {
  margin-bottom: 6rem !important; }

.mt-025 {
  margin-top: 0.25rem !important; }

.mt-05 {
  margin-top: 0.5rem !important; }

.mt-075 {
  margin-top: 0.75rem !important; }

.mt-125 {
  margin-top: 1.25rem !important; }

.mt-15 {
  margin-top: 1.5rem !important; }

.mt-175 {
  margin-top: 1.75rem !important; }

.mt-225 {
  margin-top: 2.25rem !important; }

.mt-25 {
  margin-top: 2.5rem !important; }

.mt-275 {
  margin-top: 2.75rem !important; }

.mt-4 {
  margin-top: 4rem !important; }

.mt-5 {
  margin-top: 5rem !important; }

.mt-6 {
  margin-top: 6rem !important; }

.mr-025 {
  margin-right: 0.25rem !important; }

.mr-05 {
  margin-right: 0.5rem !important; }

.mr-075 {
  margin-right: 0.75rem !important; }

.mr-175 {
  margin-right: 1.75rem !important; }

.ml-025 {
  margin-left: 0.25rem !important; }

.ml-05 {
  margin-left: 0.5rem !important; }

.ml-075 {
  margin-left: 0.75rem !important; }

.ml-175 {
  margin-left: 1.75rem !important; }

.pa-0 {
  padding: 0 !important; }

.pt-0 {
  padding-top: 0 !important; }

.pr-0 {
  padding-right: 0 !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.pl-0 {
  padding-left: 0 !important; }

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.pa {
  padding: 1rem !important; }

.pt {
  padding-top: 1rem !important; }

.pr {
  padding-right: 1rem !important; }

.pb {
  padding-bottom: 1rem !important; }

.pl {
  padding-left: 1rem !important; }

.px {
  padding-right: 1rem !important;
  padding-left: 1rem !important; }

.py {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important; }

.pa-125 {
  padding: 1.25rem !important; }

.pt-125 {
  padding-top: 1.25rem !important; }

.pr-125 {
  padding-right: 1.25rem !important; }

.pb-125 {
  padding-bottom: 1.25rem !important; }

.pl-125 {
  padding-left: 1.25rem !important; }

.px-125 {
  padding-right: 1.25rem !important;
  padding-left: 1.25rem !important; }

.py-125 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important; }

.pa-15 {
  padding: 1.5rem !important; }

.pt-15 {
  padding-top: 1.5rem !important; }

.pr-15 {
  padding-right: 1.5rem !important; }

.pb-15 {
  padding-bottom: 1.5rem !important; }

.pl-15 {
  padding-left: 1.5rem !important; }

.px-15 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important; }

.py-15 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important; }

.pa-2 {
  padding: 2rem !important; }

.pt-2 {
  padding-top: 2rem !important; }

.pr-2 {
  padding-right: 2rem !important; }

.pb-2 {
  padding-bottom: 2rem !important; }

.pl-2 {
  padding-left: 2rem !important; }

.px-2 {
  padding-right: 2rem !important;
  padding-left: 2rem !important; }

.py-2 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important; }

.pa-25 {
  padding: 2.5rem !important; }

.pt-25 {
  padding-top: 2.5rem !important; }

.pr-25 {
  padding-right: 2.5rem !important; }

.pb-25 {
  padding-bottom: 2.5rem !important; }

.pl-25 {
  padding-left: 2.5rem !important; }

.px-25 {
  padding-right: 2.5rem !important;
  padding-left: 2.5rem !important; }

.py-25 {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important; }

.pa-3 {
  padding: 3rem !important; }

.pt-3 {
  padding-top: 3rem !important; }

.pr-3 {
  padding-right: 3rem !important; }

.pb-3 {
  padding-bottom: 3rem !important; }

.pl-3 {
  padding-left: 3rem !important; }

.px-3 {
  padding-right: 3rem !important;
  padding-left: 3rem !important; }

.py-3 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important; }

.pb-025 {
  padding-bottom: 0.25rem !important; }

.pb-05 {
  padding-bottom: 0.5rem !important; }

.pb-075 {
  padding-bottom: 0.75rem !important; }

.pb-4 {
  padding-bottom: 4rem !important; }

.pb-5 {
  padding-bottom: 5rem !important; }

.pb-6 {
  padding-bottom: 6rem !important; }

.pt-025 {
  padding-top: 0.25rem !important; }

.pt-05 {
  padding-top: 0.5rem !important; }

.pt-075 {
  padding-top: 0.75rem !important; }

.pt-4 {
  padding-top: 4rem !important; }

.pt-5 {
  padding-top: 5rem !important; }

.pt-6 {
  padding-top: 6rem !important; }

.pl-025 {
  padding-left: 0.25rem !important; }

.pl-05 {
  padding-left: 0.5rem !important; }

.pl-075 {
  padding-left: 0.75rem !important; }

.pl-175 {
  padding-left: 1.75rem !important; }

.pl-2 {
  padding-left: 2rem !important; }

.pl-3 {
  padding-left: 3rem !important; }

.pl-4 {
  padding-left: 4rem !important; }

.pl-5 {
  padding-left: 5rem !important; }

.pl-6 {
  padding-left: 6rem !important; }

.pr-025 {
  padding-right: 0.25rem !important; }

.pr-05 {
  padding-right: 0.5rem !important; }

.pr-075 {
  padding-right: 0.75rem !important; }

.pr-175 {
  padding-left: 1.75rem !important; }

.pr-2 {
  padding-right: 2rem !important; }

.pr-3 {
  padding-right: 3rem !important; }

.pr-4 {
  padding-right: 4rem !important; }

.pr-5 {
  padding-right: 5rem !important; }

.pr-6 {
  padding-right: 6rem !important; }

.phl {
  margin-left: -1rem !important; }
