.profile-photo {
  max-width: 170px;
}

#page-wrapper {
  height: auto !important;
}

.has-warning .help-block {
  color: #f8ac59;
}

.has-success .control-label {
  color: inherit;
}

::-webkit-input-placeholder { /* Chrome */
  color: #707070;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #707070;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #707070;
  opacity: 1;
}

:-moz-placeholder { /* Firefox 4 - 18 */
  color: #707070;
  opacity: 1;
}

.input-group span.input-group-addon {
  background: #707070;
  color: #fff;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  min-width: 45px;
}

.input-group button.input-group-addon,
.input-group a.input-group-addon {
  background: #E6E7E8;
  color: #707070;
  border: none;
  min-width: 45px;
  min-height: 45px;
  display: inline-block;
  line-height: 32px;
  &.on-right {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-left: 1px solid #bdbcbc;
    margin: 0;
  }

  &.on-left {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-right: 1px solid #bdbcbc;
    margin: 0;
  }
}

.page-heading h2 {
  margin-top: 10px;
}

.ibox-title {
  color: #5E5FC6;
  background: #DFDFF4;
}

.ibox-content .form-control,
.ibox-content input,
.ibox-content label,
.ibox-content .single-line {
  font-size: 16px !important;
  border-radius: 10px;
  border: none;
}

.ibox-content input[type="radio"] {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
  transform: scale(1.2);
  margin: 0 6px;
}

.ibox-tools {
  display: block;
  float: none;
  margin-top: 0;
  position: relative;
  padding: 0;
  text-align: right;
  padding-right: 20px;
}

.ibox-tools a {
  cursor: pointer;
  margin-left: 5px;
  color: #505050;
}

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
  background-color: inherit;
  color: white;
}

.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus {
  background-color: #6E6FCC;
  color: white;
}

.tabs-container {
  font-size: 16px !important;
}

.tabs-container .panel-body, .tabs-container .nav-tabs > li.active a {
  background: #F6F7FC;
  border: none;
  border-bottom: 1px solid #F6F7FC;
}

.tabs-container .nav-tabs {
  border: none;
  border-bottom: 1px solid #F6F7FC;
}

.tabs-container .nav-tabs > li.active > a,
.tabs-container .nav-tabs > li.active > a:hover,
.tabs-container .nav-tabs > li.active > a:focus {
  background: #F6F7FC;
  border: none;
  outline: none;
  border-bottom: 1px solid #F6F7FC;
}

.form-control, .single-line, .form-control input {
  background: #E6E7E8;
  height: 45px;
  padding-top: 9px;
}

.has-success .form-control,
.has-error .form-control {
  box-shadow: none;
}

.table {
  font-size: 14px;
  border: 1px solid #F6F7FC;
}

.table > thead {
  height: 52px;
  background: #DFDFF4 !important;
}

.table > thead > tr > th {
  padding-top: 15px;
}

.table > thead, .table-striped > tbody > tr:nth-of-type(even) {
  background-color: #F6F7FC;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fff;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border: none;
}

.list-view .empty, .table .empty {
  padding: 17px;
}

.spinner-overlap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 42, 42, 0);
  z-index: 2;
  margin-bottom: 25px;
}

.spinner-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
}

.spinner-wrapper-fixed {
  position: fixed;
  left: 50%;
  top: 50%;
  padding-left: 130px;
  z-index: 3;
}

.body-small .spinner-wrapper-fixed {
  padding: 0;
}

.mini-navbar .spinner-wrapper-fixed {
  padding-left: 45px;
}

.untouchable .form-control {
  border-radius: 0;
  width: 54px;
  margin-left: 45px;
}

.spin-placeholder {
  width: 45px;
}

input.has-error {
  border: 1px solid $red !important;
  background: #F8E0C7 !important;
}

p {
  margin: 0 0 10px;
}

.swal-footer {
  text-align: center;
}

.swal-button:focus {
  box-shadow: none;
}

.navbar-student-list {
  display: block;
}
.header-student-list {
  display: none;
}

body.body-small, body.mini-navbar {
  .navbar-student-list {
    display: none;
  }
  .header-student-list {
    display: block;
  }
}