
// edit form

.data-grid .cell-center {
  padding-top: 19px;
}

#repeat-on-week {
  display: none;
}

.frequency-monthly #repeat-on-week {
  display: block;
}

// Pending section

.event-pending-section {
  min-height: 297px;
  background: #F6F7FC;
  padding: 0 0 15px 0;
}

.event-pending-section .due-date {
  height: 45px;
  font-size: 12px;
  font-weight: bold;
  color: #666667;
  border-bottom: 1px solid #E8E9F7;
  text-transform: uppercase;
  padding-top: 12px;
  text-align: center;
}

.event-pending-section .card-body {
  padding: 0 20px 0 20px;
}

.event-pending-section .required-badge-area {
  width: 100%;
  height: 48px;
}

.event-pending-section .required-badge {
  font-size: 12px;
  font-weight: 700;
  height: 33px;
  background: #C4151C;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-top: 8px;
}

.event-pending-section .student-name {
  color: #000;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.event-pending-section .img-thumbnail {
  max-height: 110px;
  padding: 8px;
}

.event-pending-section .required-badge-area {
  width: 100%;
  height: 60px;
}

.event-pending-section .event-type {
  font-size: 12px;
  font-weight: 700;
  color: #62BB46;
}

.event-pending-section .event-date {
  padding-top: 15px;
  font-size: 12px;
}

.event-pending-section .event-info {
  padding-top: 15px;
  font-size: 12px;
}

.event-pending-section .event-photo {
  height: 110px;
}


// Upcoming section

.event-upcoming-section table > tbody> tr.required > td {
  font-weight: 700;
  color: #C4151C;
}