.large-box {
  max-width: 800px;
  z-index: 100;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.wizard.finish .content {
  background: #ffffff;
}

.request-wizard .wizard > .steps > ul > li {
  width: 33%;
}

.invite-wizard .wizard > .steps > ul > li {
  width: 50%;
}

.signup-add-child .form-group {
  margin-bottom: 0;
}

.align-left {
  text-align: left;
}

body > .loginscreen {
  background-color: #fff;
  height: 100%;
}

@media (min-width: 750px) {

  body > .loginscreen {
    background: url("/images/loginscreen_bg.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
  }

  .login-box {
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 5%;
    width: 428px;

    &.large-box {
      width: 500px;
    }
  }
}