.select2-container .select2-selection--single,
.select2-container .select2-selection--multiple {
  background: #E6E7E8;
  height: $input-height;
  font-size: $content-font-size;
  padding-top: $input-padding-top;
  border-radius: $input-border-radius;
  border: none;
  padding-left: 5px;
}

.select2-results,
.select2-search {
  background: #E6E7E8;
}


.select2-dropdown.select2-dropdown--below,
.select2-dropdown.select2-dropdown--below .select2-results,
.select2-dropdown.select2-dropdown--below .select2-results__option:nth-last-child(1) {
  border-bottom-left-radius: $input-border-radius;
  border-bottom-right-radius: $input-border-radius;
}

.select2-container--default .select2-dropdown.select2-dropdown--above {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-dropdown.select2-dropdown--above,
.select2-dropdown.select2-dropdown--above .select2-results,
.select2-dropdown.select2-dropdown--above .select2-results__option:nth-child(1) {
  border-top-left-radius: $input-border-radius;
  border-top-right-radius: $input-border-radius;
}

.select2-container--default .select2-results,
.select2-container--default .select2-search__field {
  font-size: $content-font-size;
}
.select2-container--default .select2-search__field {
  background: #F6F7FC;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
  background: #62BB46;
  color: #fff;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b::before {
  font-family: FontAwesome;
  content: "\f054";
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: 0;
  left: -50%;
  margin-top: -4px;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b::before {
  content: "\f078";
}

.select2-container--default.select2-container--open .selection .select2-selection--single,
.select2-container--default.select2-container--open .selection .select2-selection--multiple {
  box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.42);
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  color: #E6E7E8;
  padding-right: 20px;
  margin-top: -1px;
}
.select2-container--default .select2-selection--single .select2-selection__clear::before {
  font-family: FontAwesome;
  content: "\f00d";
  font-size: 18px;
  color: #707070;
}

.select2-search__field {
  height: $input-height;
  padding-top: $input-padding-top;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 32px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  font-size: 20px;
  font-weight: normal;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 34px;
}

.select2-container--open {
  z-index: 20000;
}



// Student switcher

#select2-selectstudentform-studentid-results .select2-results__options {
  background: #DFDFF4;
}

#selectstudentform-studentid ~ .select2-container--krajee .select2-selection--single {
  background: #7E7FD1 !important;
  color: #fff !important;
  height: $input-height;
  font-size: $content-font-size;
  border-radius: $input-border-radius;
  border: none;
  padding-top: $input-padding-top;
  outline: 0;
  box-shadow: none;
}

#selectstudentform-studentid ~ .select2-container--krajee .select2-selection__rendered {
  color: #fff !important;
  padding-left: 11px !important;
  padding-top: 4px;
}
body.body-small.mini-navbar #selectstudentform-studentid ~ .select2-container--krajee .select2-selection__rendered {
   width: 0;
}
#selectstudentform-studentid ~ .select2-container--krajee .select2-selection--single .select2-selection__arrow {
  border: none;
}

#selectstudentform-studentid ~ .select2-container--krajee .select2-dropdown.select2-dropdown--below {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--krajee #select2-selectstudentform-studentid-results.select2-results__options li {
  height: $input-height;
  font-size: $content-font-size;
  padding-top: $input-padding-top;
  background: #DFDFF4;
  color: #5E5FC6;
}

.select2-container--krajee #select2-selectstudentform-studentid-results .select2-results__option[aria-selected="true"] {
  background: #62BB46;
  color: #fff;
}


#selectstudentform-studentid ~ .select2-container--krajee .select2-selection--single .select2-selection__arrow b::before {
  font-family: FontAwesome;
  content: "\f054";
}
#selectstudentform-studentid ~ .select2-container--krajee .select2-selection--single .select2-selection__arrow b {
  border: 0;
  left: -50%;
  margin-top: -4px;
}
#selectstudentform-studentid ~ .select2-container--default .select2-container--open .select2-selection--single .select2-selection__arrow b::before {
  content: "\f078";
}



#selectstudentform-studentid ~ .select2-container--krajee.select2-selection--single .select2-selection__clear {
  color: #E6E7E8;
  padding-right: 20px;
  margin-top: -1px;
}
#selectstudentform-studentid ~ .select2-container--krajee.select2-selection--single .select2-selection__clear::before {
  font-family: FontAwesome;
  content: "\f00d";
  font-size: 18px;
  color: #707070;
}

#selectstudentform-studentid ~ .select2-container--krajee.select2-search__field {
  height: $input-height;
  padding-top: $input-padding-top;
}

#selectstudentform-studentid ~ .select2-container--krajee.select2-selection--single .select2-selection__rendered {
  line-height: 32px;
}

#selectstudentform-studentid ~ .select2-container--krajee.select2-selection--single .select2-selection__clear {
  font-size: 20px;
  font-weight: normal;
}

#selectstudentform-studentid ~ .select2-container--krajee.select2-selection--single .select2-selection__arrow {
  height: 34px;
}