/*@import "font-awesome/font-awesome";*/
@import "style/style";

@import "site/common";
@import "site/data-grid";
@import "utilities/spacer";
@import "site/select2";
@import "site/login";
@import "site/product";
@import "site/event";
@import "site/report";

.nav > li > a i.fa {
  width: 20px;
}
.wizard > .content > .body input[type="radio"] {
  display: inline-block;
}
.link {
  &.dark {
    color: #505050;
  }
}
