@import "mixins/_mixins";

$base-point-size: 8px;
$typography-ratio: 1.333;
$font-size: 16px;
$line-height: 1.5em;
$colour-font: #32394F;
$colour-font-negative: #FFFFFF;
$colour-background: #FFFFFF;
$colour-background-medium: #FAFAFC;
$colour-border: #DDDDEE;
$colour-border-light: #EEEEEE;
$colour-primary: #2196F3;
$colour-accents: (
  blue: #2196F3,
  green: #00B378,
  red: #F44336,
  yellow: #FFC107,
  orange: #FF9800,
  purple: #673AB7
);
$colour-variation: 10%;
$border-radius: 2px;
$color-table-row-alt: #F6F7FC;

//table {
//  font-size: 14px;
//  border: 1px solid #F6F7FC;
//}
//
//table > thead > tr > th
//{
//  height: 52px;
//  //background-color: #E0DCF3 !important;
//  //background: #F6F6FC !important;
//}
//
//table > thead > tr > th {
//  padding-top: 15px;
//}

.vue-data-grid {

  .table-wrapper {
    display: block;
    border: none;
    width: 100%;
    & table {
      border: none;
    }
  }

  table {
    table-layout: fixed;
    width: 100%;
    background-color: $colour-background;
    border-collapse: collapse;
    border: 1px solid $colour-border;
  }

  th,
  td {
    height: 55px;
    line-height: 1.42857;
    padding: 8px;
  }

  .table-striped {
    & tr {
      &:nth-child(even) {
        & > td {
          background-color: $color-table-row-alt;
        }
      }
    }
  }

  th,
  td {
    text-align: left;

    &:last-of-type {
      border-right: none;
    }
  }

  th {
    padding: 0.75rem 1rem;
    font-weight: 600;
    background-color: $colour-background-medium;
    border-right: 1px solid $colour-border;
    border-bottom: 1px solid $colour-border;
  }

  td {
    padding: 0.5rem 1rem;
    border-right: 1px solid $colour-border-light;
    border-bottom: 1px solid $colour-border-light;
    @include truncate-text;
  }

  tbody,
  tfoot {
    &:last-of-type {
      & tr {
        &:last-of-type {
          & > td {
            border-bottom: none;
          }
        }
      }
    }
  }

  tfoot {
    & td {
      font-weight: 600;
    }
    & tr {
      &:first-of-type {
        & td {
          border-top: 1px solid $colour-border;
        }
      }
    }
  }

  td.datatable-group {
    padding: 0;
  }

  .checkbox input[type=checkbox],
  .checkbox-inline input[type=checkbox],
  .radio input[type=radio],
  .radio-inline input[type=radio] {
    margin-left: 0;
  }

  .table-striped tr:nth-child(2n)>td {
    background-color: #F6F7FC;
  }

  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff;
  }

  table,
  table > thead > tr > th,
  table > tr > td
  {
    border: none;
  }

  .paginator {
    border: none;
  }
}