$content-font-size: 16px !important;

// Basic Colors
$navy: #5E5FC6;       // Primary color
$black: #000;  // Default color
$dark-gray: #c2c2c2;  // Default color

$blue: #62BB46;       // Success color
$success-text: #fff;

$lazur: #F6F7FC;      // Info color
$info-text: #505050;

$yellow: #505050;     // Warning color
$warning-text: #F6F7FC;

$red: #C4151C;        // Danger color
$danger-text: #fff;

$dark-navy: #5E5FC6;

// Various colors
$text-color: #676a6c;   // Body text
$gray: #f3f3f4;         // Background wrapper color
$light-gray: #D1DADE;   // Default label, badge
$label-badge-color: #5E5E5E;
$light-blue:#f3f6fb;

// Spiner color and margin
$spin-color: $navy;
$spin-margin: 0 auto;


// IBOX colors ( default panel colors)
$border-color: #e7eaec;     // IBox border
$ibox-title-bg: #DFDFF4;     // IBox Background header
$ibox-content-bg:#ffffff;   // IBox Background content

//Sidebar width
$sidebar-width: 220px;

// Boxed layout width
$boxed-width: 1366px;
$boxed-background: url('patterns/shattered.png');

//Border radius for buttons
$btn-border-radius: 3px;
$btn-xl-border-radius: 11px;

$input-border-radius: 10px;
$input-height: 45px;
$input-padding-top: 9px;

//Navigation
$nav-bg: #fff;
$nav-profile-pattern: url("patterns/header-profile.png");
$nav-text-color: #a7b1c2;