.vue-data-grid .table-wrapper {
  display: block;
  border: none;
  width: 100%; }
  .vue-data-grid .table-wrapper table {
    border: none; }

.vue-data-grid table {
  table-layout: fixed;
  width: 100%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border: 1px solid #DDDDEE; }

.vue-data-grid th,
.vue-data-grid td {
  height: 55px;
  line-height: 1.42857;
  padding: 8px; }

.vue-data-grid .table-striped tr:nth-child(even) > td {
  background-color: #F6F7FC; }

.vue-data-grid th,
.vue-data-grid td {
  text-align: left; }
  .vue-data-grid th:last-of-type,
  .vue-data-grid td:last-of-type {
    border-right: none; }

.vue-data-grid th {
  padding: 0.75rem 1rem;
  font-weight: 600;
  background-color: #FAFAFC;
  border-right: 1px solid #DDDDEE;
  border-bottom: 1px solid #DDDDEE; }

.vue-data-grid td {
  padding: 0.5rem 1rem;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap; }

.vue-data-grid tbody:last-of-type tr:last-of-type > td,
.vue-data-grid tfoot:last-of-type tr:last-of-type > td {
  border-bottom: none; }

.vue-data-grid tfoot td {
  font-weight: 600; }

.vue-data-grid tfoot tr:first-of-type td {
  border-top: 1px solid #DDDDEE; }

.vue-data-grid td.datatable-group {
  padding: 0; }

.vue-data-grid .checkbox input[type=checkbox],
.vue-data-grid .checkbox-inline input[type=checkbox],
.vue-data-grid .radio input[type=radio],
.vue-data-grid .radio-inline input[type=radio] {
  margin-left: 0; }

.vue-data-grid .table-striped tr:nth-child(2n) > td {
  background-color: #F6F7FC; }

.vue-data-grid .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fff; }

.vue-data-grid table,
.vue-data-grid table > thead > tr > th,
.vue-data-grid table > tr > td {
  border: none; }

.vue-data-grid .paginator {
  border: none; }
